body{
font-family: Arial, sans-serif;
text-align: center;

background-image: url("back.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;

color: white;

margin: 0;
padding: 0;
}

/* Dark overlay effect */
body::before{
content: "";
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.5);
z-index: -1;
}

/* Logo */
.logo{
width: 150px;
margin-top: 20px;
border-radius: 20px;
box-shadow: 0px 0px 15px white;
}

/* Main Heading */
h1{
color: yellow;
font-size: 45px;
margin-top: 20px;
text-shadow: 2px 2px 5px black;
}

/* Navigation Bar */
nav{
margin-top: 20px;
margin-bottom: 30px;
}

nav a{
margin: 15px;
text-decoration: none;
font-weight: bold;
color: white;

padding: 10px 20px;
border: 2px solid white;
border-radius: 10px;

transition: 0.3s;
}

/* Hover Effect */
nav a:hover{
background-color: white;
color: black;
}

/* Paragraph Design */
p{
font-size: 20px;
width: 80%;
margin: auto;
margin-bottom: 20px;
line-height: 1.8;
text-shadow: 1px 1px 3px black;
}
